/* Login.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.wrapper {
  position: relative;
  background-color: transparent; /* Set the wrapper background to transparent */
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 57px;
  width: 92%;
  height: 70%;
  background-color: #3498db; /* Set the background color for the curve */
  z-index: -1;
 border-bottom-left-radius: 60px;
  border: 50%; 
}

.container {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  position: relative; /* Make sure the container is positioned relative for z-index to work */
  z-index: 1; /* Set a higher z-index to ensure the container is on top of the curve */
}

.login-header {
  text-align: center;
  color: #3498db;
  margin-bottom: 25px;
}

form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  color: #333;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.error {
  color: #e74c3c;
  margin-bottom: 10px;
}

.submit-container {
  text-align: center;
}

.submit {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.submit:hover {
  background-color: #2980b9;
}

/* Responsive styles */
@media (max-width: 600px) {
  .container {
    width: 100%;
    padding: 10px;
  }
}
