/* sidebar.css */

/* General styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
}

/* Toggle button styles */
.toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

/* Hamburger */
.toggle span { 
  background-color: #8b8989; 
  display:block;
  height: 3px;
  margin: 6px 0px;
  transition: 0.9s;
  width: 35px;
}

.toggle.collapsed span:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle.collapsed span:nth-child(2) {
  opacity: 0;
}

.toggle.collapsed span:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Sidebar styles */
.sidebar {
  background-color: #000000;
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 80px;
}

.sidebarshow {
  width: 250px;
}

.sidebar.show-hamburger .toggle span {
  background-color: #040404;
  color:#000000;
}

.sidebar.show-hamburger a {
   background-color: #000000;
  color: #000000;
}

.sidebar a {
  padding: 5px 50px;
  text-decoration: none;
  font-size: 16px;
  margin-top: 35px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .toggle {
    padding: 15px;
  }

  .sidebar {
    padding-top: 60px;
  }

  .sidebar a {
    font-size: 16px;
    padding: 5px 68px;
  }

  .toggle span {
    height: 2px;
    width: 23px;
  }
}
